body {
    margin: 0;
    color: #45474B;
    font-family: "Poppins", sans-serif;
    background-color: #FFEEA9;
}

/* HEADER SECTION */
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 15%;
    background-color: #FFBF78;
    position: fixed;
    height: 100%;
    overflow: auto;
    font-size: 24px;
}

li a {
    display: block;
    padding: 8px 16px;
    text-decoration: none;
}

li a.active {
    background-color: #04AA6D;
    color: #FEFFD2;
}

li a:hover:not(.active) {
    background-color: #FF7D29;
    color: #FEFFD2;
}


.container {
    margin-left: 25%;
    padding: 1px 16px;
    height: 1000px;
}

/* FOOTER SECTION */
.footer {
    background-color: #FF7D29;
    color: #FEFFD2;
    bottom: 0;
    width: 100%;
    font-weight: 400;
    padding: 5px;
    text-align: center;
    font-size: 16px;
    position: fixed;
}

.footer a {
    margin-right: 10px;
}

.fa-brands {
    padding-top: 10px;
}